body {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding-bottom: 80px;
}

.content {
    font-size: 18px;
}

.titel_container {
    text-align: center;
    background-color: #FFFFFF;
}

#start_tekst, #profiel_tekst {
    background-color: #ededed;
    width: 700px;
    padding: 50px;
}

.stap {
    background-color: #ededed;
    width: 700px;
    padding: 50px;
}

h2 {
    margin-block-start: 0;
}

select, button, input {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

input[type="number"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
    width: 100px;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
}

button:hover {
    cursor: pointer;
}

.vorige_volgende {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button.volgende, button.start {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    background-color: #1B1918;
    border-style: solid;
    border-color: #1B1918;
    border-radius: 3px;
    color: #FFFFFF;
    line-height: 36px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}
button.volgende:hover, button.start:hover {
    background-color: #4A4645;
}

button.vorige {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #1B1918;
    border-radius: 3px;
    color: #1B1918;
    line-height: 36px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}
button.vorige:hover {
    background-color: #A8A29F;
}

input[type="range"] {
    accent-color: #bc0031;
    width: 500px;
    margin-top: 10px;
}
input[type="range"]:hover {
    cursor: pointer;
}

.slider_labels {
    width: 495px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 7px 10px;
}

th {
    border: 1px #1B1918;
    font-weight: normal;
}

table {
    width: 700px;
    height: 50px;
    color: #FFFFFF;
}

#week1, #week2 {
    background-color: #257835;
}

#week3, #week4, #week5, #week6 {
    background-color: #a8002a;
}

#toegangscode {
    text-align: center;
    height: 30px;
}

#login_button {
    width: 225px;
    background-color: #ededed;
    border-style: solid;
    border-color: #dadada;
    border-radius: 3px;
}

/* Vanaf hier opmaak voor de navigatie binnen de vragenlijst */
.progress_bar {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
}

.onderdeel {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.onderdeel:hover {
    background-color: #ededed;
}

.onderdeel.active {
    font-weight: bold;
    color: #1B1918;
    border-bottom: 3px solid #1B1918;
}

.onderdeel:before {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

/* Vanaf hier opmaak voor alles in de header */
header {
    background-color: #bc0031;
    position: fixed;
    width: 100%;
    height: 110px;
    left: 0;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#uva_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.logo_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 110px;
    height: 70px;
}

.logo_container {
    background-color: #bc0031;
    border-radius: 5rem;
    width: 450px;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo_container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    border-radius: 5rem 5rem 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

nav.tabbladen {
    display: flex;
    align-self: center;
    margin-top: -5px;
}

.tabblad-actief {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid white;
}

.tabblad-inactief {
    color: #A8A29F;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

.tabblad-actief:hover {
    background-color: #a8002a;
}

.tabblad-inactief:hover {
    background-color: #a8002a;
}

.citizen_science {
    position: absolute;
    top: 65px;
    left: 20px;
    color: white;
    font-size: 28px;
    z-index: 1001;
}