/* uva kleuren */
.rood_100 {
    color: #bc0031;
}
.rood_110 {
    color: #840022;
}
.zwart {
    color: #1B1918;
}
.wit {
    color: #ffffff;
}
.grijs {
    color: #A8A29F;
}
.donkergroen {
    color: #257835;
    /* kleur van faculteit der geneeskunde */
}
/* einde uva kleuren */

body {
    padding-top: 90px;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
}

.content {
    font-size: 20px;
    padding-left: 36px;
    padding-right: 36px;
}

select, input {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

button {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    background-color: #1B1918;
    color: #FFFFFF;
    border: none;
    line-height: 36px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}

button:hover {
    cursor: pointer;
    background-color: #4A4645;
}

input[type="range"] {
    width: 300px;
}

/* Opmaak voor alles in de header */
#uva_logo {
    height: 55px;
    padding: 10px;
}

#profiel {
    height: 50px;
    fill: #1B1918;
    padding-right: 20px;
}

header {
    background-color: #bc0031;
    position: fixed;
    width: 100%;
    height: 85px;
    left: 0;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav.tabbladen {
    padding-left: 100px;
    display: flex;
    align-self: flex-end;
}

.tabblad#actief {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid white;
}

.tabblad#inactief {
    color: #A8A29F;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

.tabblad:hover {
    background-color: #a8002a;
}