/* uva kleuren */
.rood_100 {
    color: #bc0031;
}
.rood_110 {
    color: #840022;
}
.zwart {
    color: #1B1918;
}
.wit {
    color: #ffffff;
}
.grijs {
    color: #A8A29F;
}
.donkergroen {
    color: #257835;
    /* kleur van faculteit der geneeskunde */
}
/* einde uva kleuren */

body {
    padding-top: 130px;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
}

.content {
    font-size: 20px;
    padding-left: 36px;
    padding-right: 36px;
}

select, input {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

button.volgende {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    background-color: #1B1918;
    border-color: #1B1918;
    color: #FFFFFF;
    line-height: 36px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}

button.vorige {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    background-color: #FFFFFF;
    border-color: #1B1918;
    color: #1B1918;
    line-height: 36px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}

button.volgende:hover {
    cursor: pointer;
    background-color: #4A4645;
}

button.vorige:hover {
    cursor: pointer;
    background-color: #A8A29F;
}

input[type="range"] {
    width: 300px;
}

/* Opmaak voor alles in de header */
header {
    background-color: #bc0031;
    position: fixed;
    width: 100%;
    height: 110px;
    left: 0;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#uva_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.logo_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 110px;
    height: 70px;
}

.logo_container {
    background-color: #bc0031;
    border-radius: 5rem;
    width: 450px;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo_container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    border-radius: 5rem 5rem 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

nav.tabbladen {
    display: flex;
    align-self: center;
    margin-top: -10px;
}

.tabblad-actief {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid white;
}

.tabblad-inactief {
    color: #A8A29F;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

.tabblad-actief:hover {
    background-color: #a8002a;
}

.tabblad-inactief:hover {
    background-color: #a8002a;
}